@import './variables-disney.css';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

html,
input {
  fill: var(--fontColorLightGrey);
  color: var(--fontColorLightGrey);
  font-size: var(--fontSize);
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--background);
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

a,
a:visited {
  color: var(--colorInfo);
  text-decoration: none;
}

a {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--background);
  font-family: 'Roboto', sans-serif;
  font-size: medium;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

textarea,
input {
  &:focus {
    border-color: var(--activeBackground);
  }
}

.defaultSticky {
  position: sticky;
  top: 0;
  z-index: 100;
}
