.welcomeBanner {
  align-items: center;
  display: flex;
  justify-content: left;
  margin: 1rem;
  gap: 24px;
  background-color: #e8f4f8;
  border-radius: 1rem;

  .welcomeMessage {
    height: 7rem;
    padding: 1.2rem 0;

    .welcomeText {
      font-family: Roboto;
      font-size: 30px;
      font-weight: 400;
      line-height: 48px;
    }

    .omsText {
      font-family: Roboto;
      font-size: 35px;
      font-weight: 500;
      line-height: 27px;
    }
  }

  .welcomeImage {
    height: 7rem;
    margin-left: 1rem;
    align-self: end;
  }
}
