.button {
  button {
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    text-decoration: none;
    min-height: 1.5rem;
    min-width: 1.5rem;
  }
}
