@import './variables-day-theme.css';

// @font-face {
//   font-family: 'Roboto';
//   src: local('Roboto'), local('Roboto-Regular'),
//     url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

// html,
// input {
//   fill: var(--fontColorLightGrey);
//   color: var(--fontColorLightGrey);
//   font-size: var(--fontSize);
// }

body {
  height: 100%;
  margin: 0;
  padding: 0;
  // background: var(--darkBackground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

#root {
  width: 100%;
}

#rootlight {
  height: 100%;
  width: 100%;
}

// Global styles override for 'react-dates' calendar
.CalendarDay__selected_span {
  background: var(--blue-95);
  color: var(--textColorMain1);

  &:hover {
    background-color: var(--blue-50);
  }
}

.CalendarDay__selected {
  background: var(--blue-50);
}

.CalendarDay__selected:hover {
  background: var(--neutral-faux-black);
}

.CalendarDay__hovered_span {
  &,
  &:hover {
    background: var(--blue-95);
    color: var(--textColorMain1);
  }
}

.CalendarDay__default {
  &,
  &:hover {
    border: none;
  }
}

// Global styles override for 'react-dates' inputs
.DateRangePickerInput,
.SingleDatePickerInput {
  background: var(--backgroundMain1);
  border: 1px solid var(--neutral-grey-3);
  border-radius: 4px;
  display: block;
  width: 100%;

  &:hover {
    border: 2px solid var(--neutral-grey-2);

    .DateInput_input {
      height: 36px;
      padding: 9.5px 11px 9.5px 11px;
    }

    .DateRangePickerInput_calendarIcon,
    .SingleDatePickerInput_calendarIcon {
      margin: 0 4px 0 11px;
      padding: 9px 10px;
    }
  }

  .DateInput {
    background-color: transparent;
    width: auto;
  }

  .DateInput_input {
    background-color: transparent;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--neutral-faux-black);
    font-size: 14px;
    font-weight: inherit;
    height: 38px;
    padding: 9.5px 12px 9.5px 12px;
  }

  .DateInput_input__focused {
    background-color: var(--blue-95);
  }
}

.DateRangePickerInput:hover .DateInput {
  .DateInput_input {
    padding: 9.5px 11px 9.5px 12px;
  }

  &:first-child .DateInput_input {
    padding: 9.5px 12px 9.5px 11px;
  }
}

.TrekDropDownItem-root {
  padding: 0.8rem 1rem;
}
