:root {
  --backgroundMain1: #fffdfd;
  --backGroundMain2: lightgray;
  --backGroundMain3: rgb(247, 247, 249);
  --textColorMain1: black;
  --buttonTextColorMain1: white;
  --borderLighter1: lightgray;
  --neutral-grey-1: #272c35;
  --neutral-grey-2: #646f85;
  --neutral-grey-3: #b9bfcb;
  --neutral-grey-4: #dde0e6;
  --neutral-faux-black: #040405;
  --neutral-text-strong: #1a1a1a;
  --neutral-text-weak: #8c8c8c;
  --neutral-text-disabled: #dcdcdc;
  --neutral-5: #0b0c0f;
  --neutral-18: #282c34;
  --neutral-40: #586174;
  --neutral-50: #6e7a91;
  --neutral-70: #a8afbd;
  --neutral-92: #e8eaed;
  --neutral-97: #f7f7f9;
  --blue-50: #1a71e5;
  --blue-60: #478eeb;
  --blue-90: #d1e3fa;
  --blue-95: #e8f1fc;
  --purple-50: #9b1ae5;
  --purple-95: #f5e8fc;
  --red-40: #b8143e;
  --red-50: #e51a4c;
  --red-95: #fce8ed;
  --green-base: #068569;
  --green-6: #eaf8f5;
  --green-30: #0f8a4c;
  --yellow-base: #faac11;
  --yellow-6: #fff7e7;
  --yellow-30: #fcd17c;
  --mui-main: #3f51b5;
  --brown-50: #b4522e;
  --brown-60: #e4825e;
  --brown-70: #e8d1c9;
  --brown-95: #fff9f8;
  --selected-background-soft: #f0e7e5;
  --pill-link-primary: #ffdc9c;
  --pill-link-secondary: #ffc39f;
  --pill-link-tertiary: #fed2c7;
  --light-theme-alert-info-text: #006eec;
  --card-border: #71afc0;
  --filter-primary: #5c8d9b;
  --filter-background: #d9d9d9;
}
