.detailsTitle {
  align-items: center;
  background: var(--brown-95);
  display: flex;
  height: 3.75rem;
  padding-left: 1.5rem;

  .title {
    color: var(--brown-50);
    font-size: 1rem;
    font-weight: 600;
  }
}
